/*piple3*/


@media screen and (min-width: 768px){

}
@media (max-width: 1199px) {
}

@media (max-width: 1024px) {


}

@media (max-width: 991px) {

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	background: #0084b4;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
}

#header .navbar-default 
{
     padding-top: 0px;
	 margin-bottom:0px;
}
.nav-second-main
{
	display:block;
}
.navbar-header 
{
	float: none;
	padding-bottom:30px;
}
.navbar-toggle 
{
	display: block;
}
.navbar-collapse 
{
	border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse 
{
	display: none!important;
}
.navbar-nav 
{
	float: none!important;
	margin: 7.5px -15px;
}
.navbar-nav>li 
{
	float: none;
}
.navbar-nav>li>a 
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-collapse.collapse.in 
{
	display: block!important; 
}

.navbar-toggle{
    border: 1px solid #fff;
    background-color: #df5d81;
    margin-top: 15px;
}
 .navbar-toggle .icon-bar {
    background-color: #fff;
}
section.relax-spa img{
    width: 100%;
}
}

@media (max-width: 767px){
.navbar-toggle{
    border: 1px solid #fff;
    background-color: #df5d81;
    margin-top: 15px;
}
 .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-header {
    padding-bottom: 10px;
}
.terms{
    text-align: center;
}
.pull-right {
    float: none !important;
}
.navbar-brand>img{
    width: 170px;
}
h1
{
	font-size:24px;
}
.our_team img{
    width: 100%;
}
.news_img img{
    width: 100%;
}
.newslatter-title {
    text-align: center;
    margin-top: 13px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.news_img img
{
	height:auto;
	margin:0 auto;
	padding:0px;
}
.flex-direction-nav .flex-next{
    opacity: 0;
}
.flex-direction-nav .flex-prev{
    opacity: 0;
}
} 

@media (max-width: 600px) {

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	background: #0084b4;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
	}
}
@media (max-width: 568px) {


.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	background: #0084b4;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
	}
	
.col-xs-6
{
	width:100%;
	max-width:100%;
}

}
@media (max-width: 480px) {
    .ms-anim-layers{
        display: none;
    }
    .inner h3{
        font-size: 46px;
    }
    .offer h1 {
    font-size: 47px;
}
}
@media (max-width: 375px) {

}

@media (max-width: 320px) {

}