/* Mega Menu*/
/**common dropdown of template**/
.row{
margin:0px;}

.dropdown-menu{
    min-width: 180px;
    border: 0px;
    padding: 0px;
    background: #333;
    border-radius: 0px;
}
.dropdown-menu>li>a{
    padding: 9px 20px;
    color: #ccc;
    border-bottom:1px solid #444;
    text-transform:capitalize;
    &:hover{
        background: #222;
        color: #fff;
    }
}



.header.fixed
{
	background:#ed1c24;
	 position: fixed;
    border-bottom: rgba(0,0,0,0.08) 1px solid;
	 padding:0px;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    -webkit-transition: all .800s;
    -moz-transition: all .800s;
    -o-transition: all .800s;
    transition: all .800s;
}


.navbar.fixed {
    position: fixed;
    border-bottom: rgba(0,0,0,0.08) 1px solid;	
}

.navbar {
    position: relative;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;

 
    -webkit-transition: all .800s;
    -moz-transition: all .800s;
    -o-transition: all .800s;
    transition: all .800s;
}

.navbar-default.fixed .navbar-nav > li > a {
    color: #000;
    font-weight: 700;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-inverse.fixed .navbar-nav > li > a {
	 padding-top: 20px;
    padding-bottom: 20px;
}

.navmenu-header{
        color: #333;
    text-transform: uppercase;
    font-size: 13px;
    padding: 5px 19px;
}
li.navmenu-header {
    color: #000;
    padding: 5px 20px;
}

@media (min-width: 767px)
{
.fixed .navbar-brand {
    padding: 3px 15px;
}
}
@media (max-width: 991px) {
	#header .navbar-default {
     padding-top: 0px;
	 margin-bottom:0px;
}
	.nav-second-main{display:block;}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

   .navbar-collapse.collapse.in {  /* NEW */
        display: block!important; 
    }
} 


/*section {
    display: block;
    position: relative;
    padding: 80px 0px;
    border-bottom: rgba(0,0,0,0.0) 0px solid;
    -webkit-transition: all .400s;
    -moz-transition: all .400s;
    -o-transition: all .400s;
    transition: all .400s;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    background-size: cover !important;
    box-sizing: border-box !important;
}
*/