
@media(max-width:1199px){
 
.banner .breadcrumb>li {
    font-size: 14px;
}
.team-desc ul.social li {
    list-style: none;
    float: left;
    padding-left: 3px;
}
.banner .breadcrumb {
    border-radius: 0px;
    background: #fff;
    width: 155px;
}
.nav>li>a {
    display: block;
    padding: 33px 14px;
}
.teamdesc ul.social li {
    padding-left: 7px;
}

.center-title {
    padding-bottom: 30px;
}


.yellow-bg h4, .blue-bg h4 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    margin-left: 100px;
    margin-bottom: 60px;
    margin-top: 0px;
}
.contact-address {
    background: #e6e6e6;
    padding: 10px;
    margin: 0 auto;
}
.contact-icon {
    border: 1px solid #7d7d7d;
    text-align: center;
    padding: 0px; 
    width: 50px;
    height: 50px;
    margin-top: 6px;
}

.property-desc
{
	font-size:12px;
}
button.btn.btn-blue {
    background: #000b6d;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border-radius: 0;
}
.who-we-are img{
    padding-top: 50px;
}
.breadcrumb{
    text-align: center;
        padding: 12px 9px;
}
}

@media(max-width:1024px){
.contact-address {
    background: #e6e6e6;
    padding: 20px;
    margin: 0 auto;
}


button.btn.btn-blue {
    background: #000b6d;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border-radius: 0;
}
}
@media(max-width:991px){


.overlay , .overlay1
{
	font-size:16px;
	top: 60px;
}
    .text-title {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 95px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    margin: 0 auto;
}
nav.navbar.navbar-default.navbar-static-top {
	min-height:70px;
}

 .nav > li > a {
    display: block;
    padding: 32px 8px;
    position: relative;
}
.form-control {
   margin-bottom: 15px;
}
.footer-bottom ul {
    text-align: center;
}
.banner-deal {
    padding-bottom: 30px;
}
.col-sm-6.top-left
{
	font-size:12px;
}
.img img.img-responsive
{
	width:100%;
	max-width:100%;
}
.author 
{
    color: #000b6d;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
}

.contact-icon {
    border: 1px solid #7d7d7d;
    text-align: center;
    padding: 0px;
    width: 50px;
    height: 50px;
    margin-top: 6px;
    margin: 0 auto;
}
.col-sm-3.col-xs-12.nopadding {
    width: 100%;
    margin: 0 auto;
    text-align: center;
	text-align:center;
}
.address , .phone , .email
{
	text-align:center;
}

.property-box
{
	margin-bottom:50px;
}
.mt60 {
    margin-top: 0px;
}
.space40 {
    height: 0px;
}
.footer-bottom ul li a {
    padding: 0px 8px;
}
}

@media(max-width:768px){
img.img-responsive
{
	width:100%;
	max-width:100%;
}
.author {
    color: #000b6d;
    text-align: center;
    margin: 0 auto;
    padding: 10px 0px;
    font-weight: 900;
    font-size: 16px;
    text-transform: uppercase;
}

.main-banner .btn-search
{
   padding: 12px 40px;
}
.overlay {
    background: rgba(247, 202, 24, .9);
    position: absolute;
    top: 55px;
    left: 15px;
    right: 15px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}
.overlay1 {
    background: rgba(209, 212, 220, .9);
    position: absolute;
    top: 55px;
    left: 15px;
    right: 15px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}


}
@media(max-width:767px){

.overlay , .overlay1
{
    
    position: absolute;
    top: 255px;
    left: 15px;
    right: 15px;
    font-weight: bold;
    font-size: 20px;
  
}

.navbar-toggle{
    border: 1px solid #fff;
    background-color: #000428;
    margin-top: 15px;
}
 .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-header {
    padding: 10px 0px;
}
.contact-right {
    margin-top: 100px;
}
button.btn.btn-primary.btn-search 
{
	margin-top:15px;
}

.top-social li {
    display: inline-block;
    padding-right: 0px;
    padding-left: 0px;
    border-left: 0px solid #fff;
    /* border-left: 1px solid #000b6d; */
}
   
   .text-title {
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 41px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    margin: 0 auto;
}

.yellow-bg h4, .blue-bg h4
{
	font-size:24px;
} 
.top-bar span
{
	text-align: center; 
    display: block;
 }
 
 .testimonial {
    margin: 10px 0px;
    /* padding: 0 0 80px 20px; */
    position: relative;
    width: 100%;
    max-width: 100%;
}
.content
{
	padding:10px;
}
.mb50
{
	margin-bottom:50px;
}
    .top-bar ul {
        text-align: center;
}
.text-right {
    text-align: center;
    padding-top: 5px;
}
    .navbar-brand > img {
    margin-top: -10px;
    width: 150px;
}
.about-hosting img {
    width: 100%;
}
.page-comes span{
   text-align: center;
   display: block;
}
.header-v2 {
    position: absolute;
    left: 0;
    top: 20px;
    width: 100%;
}
.Wel-right img {
    width: 100%;
}

.icon-left {
    border-bottom: solid 1px #ccc;
    padding-bottom: 30px;
    text-align: center;
}
.icon-left i {
    color: #363636;
    font-size: 65px;
    float:none;
    padding-bottom: 10px;
}
.right-contact {
    padding-left: 10px;
}
.center-title{
    padding-bottom: 30px;
}
.hosting-contact .center-title h1 {
    padding-bottom: 30px;
}
.hosting-contact {
    padding-bottom: 45px;
}
.page-breadcrumb h1 {
    text-align: center;
    margin-bottom: 15px;
}
.volunteer h1 {
    font-size: 30px;
}
.about-us h1 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 0px;
}
.cta h1 {
    text-align: center;
    position: relative;
    font-size: 21px;
}
.banner h1 {
    position: relative;
    text-align: center;
}
.banner .breadcrumb {
   float: none; 
   text-align: center;
   margin-top: 10px;
    display: inline-block;
}
.heading_title h1 {
    font-size: 3em;
}
.banner h1 {
    font-size: 4em;
}
.our-service {
    padding: 0px 0px;
}
.banner {
    padding: 130px 0px;
}
.service-right img{
    width: 175px;
    margin-top: -33px;
}
.booster h1 {
    font-size: 3.5em;
}
.contact-right span{
    font-size: 11px;
    color: #363636;
}
.service-box img{
    width: 100%;
}
.welcome-sec {
    padding: 50px 0px;
}
.footer-bottom{
    text-align: center;
}
.main-banner {
    padding: 230px 0 40px;
}
}



@media(max-width:414px){
h1
{
	font-size:24px;
	
}
.overlay, .overlay1 {
    position: absolute;
    top: 85px;
    left: 15px;
    right: 15px;
    font-weight: bold;
    font-size: 16px;
}

}

@media(max-width:320px){
h1
{
	font-size:24px;
	
}
.overlay , .overlay1 
{
    position: absolute;
    top: 140px;
    left: 15px;
    right: 15px;
    font-weight: bold;
    font-size: 20px;
}

}