/*------------------google font----------------*/
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
/*------------------google font----------------*/

body{ 
    background: #fff; 
    line-height: 24px;   
    color: #5b6e80; 
    font-size: 13px;  
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
/*---------------------Default Css--------------------*/ 
h1{ color:#333; 
    font-size:2.5em;
    margin:0px;
    padding:20px 0;}

h2{ color:#333; 
    font-size:2.225em;
    margin:0px; 
    padding:0px;
} 

h3{ color:#333; 
    font-size:2em;
    margin:0px;
    padding:0px;}

h4{ color:#333; 
    font-size:1.5em;
    margin:0px;
    padding:0px;}

h5{ color:#333; 
    font-size:1.225em;
    margin:0px;
    padding:0px;}

h6{ color:#333; 
    font-size:1em;
    margin:0px;
    padding:0px;}

p{ 
    margin:0px;
    color: #8c8c8c;
}

a{
    text-decoration:none;
    color: inherit;
}
a:hover{ 
    text-decoration:none;
}

a:focus{ 
    outline:none;
}
.no-padding{
  padding: 0px !important;  
}
.margin40{
    margin-top: 40px;
}
/*---------------------Default Css--------------------*/ 


/*---------------------Nav Css--------------------*/ 
.top-bar{
   background: #072356;
    padding: 5px 0px;
    color: #fff;
}
.top-bar span {
    padding-right: 35px;
    font-size: 14px;
    line-height: 34px;
}
.top-bar ul {
    padding: 2px 0;
    margin: 0px;
}
.top-bar ul li{
    list-style: none;
}
.top-bar ul li a {
    color: #fff;
    transition: all 0.65s;
    margin-right: 12px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 300;
}
.top-bar ul li a:hover{
    color: #ff491d;
}
.top-bar a{
    color: #fff;
}
.top-bar .list-inline>li.bg {
    background: #ff491c;
    padding: 3px 12px;
    font-size: 14px;
    border-radius: 5px;
}

.navbar-default {
  background-color: #fff;
  border: 0px;
  position: relative;
 }
 .right{
     float: right;
 }
.navbar-default .navbar-nav > li > a {
    position: relative;
    color: #22313f;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
        background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #22313f;
    background-color: transparent;
}
.navbar-nav>li {
    margin-top: 15px;
}
.nav>li>a{
    padding: 10px 20px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}
.navbar-static-top{
    z-index: 1;
}
.navbar{
    margin-bottom: 10px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: none;
    color: #ff491c;
}
/*dropdown*/
ul.dropdown-menu.top-search .form-control {
    border-radius: 0px;
    border: 0px;
    background: transparent;
    color: #22313f;
    box-shadow: none;
}
.navbar-nav>li>.dropdown-menu{
    background: #fff;
    border-radius: 0px;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    background: transparent;
}
.dropdown-menu>li>a{
    color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
     
     background: #ff491c;
     color: #fff;
}
.header {
    background: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.header-logo{
    padding: 15px;
    text-align: center;
}
.header-logo .navbar-right{
    text-align: center;
    float: none !important;
    margin-left: 100px;
}
.header-logo img {
    display: block;
    margin: 0 auto;
}

/*----------------------master slider-------------*/
.text6 {
    color: #fff;
    font-weight: 600;
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}
.text7 {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.full-wid {
    width: 50%;
}
.btn-blue {
    padding: 10px 20px;
    color: #000;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 800;
    background: #f7ca18;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
}
.btn-yellow {
    color: #000;
    border-radius: 0px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    background: #fff;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    text-transform: uppercase;
    
}
.btn-blue:hover {
    background:  #fff;
    color: #000;
}
.btn-yellow:hover {
    background: #f7ca18;
    color: #000;
}
/*---------------------- End master slider-------------*/


/*title*/
.title{
    text-align: center;
    margin-bottom: 50px;
}
.title h2{
    color: #232323;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Roboto', sans-serif; 
    padding-bottom: 30px;
}
.title p{
    color: #6c6c6c;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    line-height: 27px;
 }
/*End title*/

/*section.wel-sec*/
section.wel-sec{
    padding: 100px 0px;
}
.wel-left{
    padding: 0px;
}
.wel-left h3{
    color: #232323;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Roboto', sans-serif; 
    padding-bottom: 30px;
}
.wel-left p{
    color: #6c6c6c;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
    padding-bottom: 30px;
}
.info_head {
    padding-top: 90px;
}
.info_head h4{
    color: #232323;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Roboto', sans-serif; 
    padding-bottom: 25px;
}
.info_head  p{
    color: #6c6c6c;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif; 
}
.info_list{
    padding: 30px 0 0px;
}
.info_list i{
    width: 95px;
    height: 95px;
    float: left;
    font-size: 27px;
    color: #232323;
    border: solid 2px #232323;
    border-radius: 50%;
    text-align: center;
    line-height: 93px;
    margin-right: 20px;

}
.info_list bold{
    color: #232323;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto', sans-serif; 
}
.info_list p{
    color: #6c6c6c;
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
    font-family: 'Roboto', sans-serif; 
}
/*End section.wel-sec*/

/*section.countdown*/
section.countdown{
    padding: 0 0 100px;
}
section.countdown h4{
    color: #232323;
    font-weight: 300;
    font-size: 50px;
    font-family: 'Roboto', sans-serif; 
}
.fact-box {
    text-align: center;
}
.fact-box h3 {
    color: #232323;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}
.fact-box p {
    color: #232323;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding-top: 18px;
}
.fact-box img{
    float: left;
}
/*End section.countdown*/

/*section.features*/
section.features{
    padding: 124px 0px;
    background: #f6f5f5;
    background-size: cover;
}
.feature-block {
    text-align: center;
    transition: all 0.85s;
    padding: 0px;
}
.feature-block img {
    display: block;
    margin: 0 auto;
}
.feature-block h3 {
    font-size: 24px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 25px;
}
.feature-block p {
    margin: 0px;
    color: #6c6c6c;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
    line-height: 26px;

}
.mt40{
    margin-top: 40px;
}
.pb{
    padding-bottom: 0px !important;
}
/*End section.features*/

/*section.project*/

section.project {
    background: #072356;
    padding: 100px 0px;
}
section.project .title h2{
    color: #fff;
}
section.project .title p{
    color: #88a8c8;
}
#owl-demo .item{
  margin: 3px;
}
/*End section.project*/

/*section.construction*/

section.construction{
    padding: 100px 0px;
}
section.construction img{
    display: block;
    margin: 0 auto;
}
section.construction .wel-left h3{
    font-size: 40px;
    font-weight: 300;
}
section.construction .wel-left span{
    color: #6c6c6c;
    font-weight: 400;
    font-size: 16px;
    display: block;
    padding-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
section.construction .wel-left span i{
    color: #072356;
    font-size: 16px;
    padding-right: 15px;
}
/*End section.construction*/




/*Testimonial*/
section#carousel {
    background: #072356;
    padding: 100px 0px;
}
section#carousel .carousel-indicators {
    bottom: -30px;
}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
.carousel-indicators .active{
    background-color: #f7ca18; 
    border-color: #f7ca18;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.item p{
    color: #fff;
    font-size: 18px;
    font-style:italic;
    font-weight: 300;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}
.item h5{
    color: #f7ca18;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
}
.item small{
    color: #f7ca18;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}
.border {
    width: 84px;
    border-bottom: solid 2px #f7ca18;
    display: block;
    margin: 30px auto;
}
/*End Testimonial*/

/*section.letest_blog*/
section.letest_blog{
    padding: 100px 0px;
}
.letest_block{
    padding: 0px;
}

.letest_block h4{
    font-size: 18px;
    color: #232323;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding-top: 25px;
    padding-bottom: 20px;
}
.letest_block p{
    font-size: 16px;
    color: #6d6d6d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 30px;
}
.letest_block a{
    font-size: 16px;
    color: #072356;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;

}
/*End section.letest_blog*/

/*section.contact_now*/
section.contact_now{
    background: #f7ca18;
    padding: 60px 0px;
}
section.contact_now h5{
    color: #232323;
    font-weight: 600;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding-bottom:20px;
}
section.contact_now p{
    color: #232323;
    font-weight: 400;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
section.contact_now form {
    padding: 35px 0 0px;
}
section.contact_now .form-control {
    box-shadow: none;
    border: none;
    outline: none;
    color: #232323;
    font-weight: 400;
    padding-left: 22px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    height: 50px;
}
button.Contact {
    box-shadow: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    background: #232323;
    padding: 14px 25px;
    margin-top: 33px;
}
/*End section.contact_now*/

/*section.price-table*/
section.price-table{
    padding: 100px 0px;
}
.columns{
    text-align: center;
    transition: all 0.85s; 
    background: #f6f5f5;
    padding: 20px;
}
.columns ul{
    padding: 0px;
}
.columns ul li{
   list-style: none;
}
.columns.active{
     box-shadow: 0px 2px 35px -8px rgba(0,0,0,0.75);
}
.columns li.header {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #232323;
    font-weight: 600;
    background: none;
    padding: 30px 0;
    text-transform: uppercase;
}
.columns li.header span{
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #ff7101;
}

.columns li.grey {
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: #232323;
    font-weight: 600;
    padding: 20px 0px;
}
.columns li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #6d6d6d;
    font-weight: 400;
    padding: 8px 0px;
}
.columns li i{
    color: #072356;
    font-size: 16px;
}
.columns a {
    color: #fff;
    background: #072356;
    padding: 12px 20px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 60px;
    font-size: 16px;
}
.columns:hover {
    box-shadow: 0px 2px 35px -8px rgba(0,0,0,0.75);
}
/*End section.price-table*/

/*Footer Css*/
footer.footer {
    background: #232323;
    padding: 100px 0 0px;
}
.footer-desc {
    padding: 0px;
}
.footer-desc p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #b7b1b1;
    padding-top: 30px;
    font-weight: 400;
}
.footer-desc ul {
    padding: 30px 0;
}
.footer-desc ul li {
    list-style: none;
    float: left;
}
.footer-desc ul li a {
    color: #fff;
    margin-right: 25px;
    font-size: 15px;
}
.footer-desc ul li a:hover{
    color: #ff491c; 
}
footer.footer h3 {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
}
.footer-link {
    padding: 0px; 
}
.footer-link ul {
    padding: 25px 0;
}
.footer-link ul li {
    list-style: none;
    border-bottom: solid 1px #464646;
}
.footer-link ul li a {
    color: #b7b1b1;
    font-size: 13px;
    text-decoration: none;
    line-height: 43px;
}
.project ul {
    padding: 30px 0px;
}
.project li {
    float: left;
    list-style: none;
    margin-bottom: 5px;
}
.project li img {
    margin-right: 4px;
}
.address {
    margin-top: 25px;
}
.address ul {
    padding: 0px;
}
.address ul li {
    color: #fff;
    list-style: none;
    border-bottom: solid 1px #464646;
}
.address bold {
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    line-height: 35px;
}
.address small {
    color: #b7b1b1;
    font-size: 14px;
    padding-left: 5px;
}
.footer-bottom {
    margin-top: 60px;
    background: #171616;
    padding: 15px 0px;
    color: #b7b1b1;
}
.footer-bottom span {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}
.footer-bottom ul {
    padding: 0px;
    float: right;
    margin: 0px;
}
.footer-bottom ul li {
    list-style: none;
    float: left;
    margin-right: 17px;
    margin-left: 5px;
}
.footer-bottom ul li a {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #b7b1b1;
}
/*End Footer Css*/

/*About Us page Css*/

.about_banner{
    padding: 100px 0px;
    background: url(../images/about-banner.jpg) no-repeat;
    background-size: cover;
}
.about_banner h4{
    color: #fff;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 15px;
}
.about_banner p{
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 30px;
}
.breadcrumb {
    padding: 12px 15px;
    margin-bottom: 0;
    list-style: none;
    background-color: #f7ca18;
    border-radius: 4px;
    margin-top: 35px;
    text-align: center;
}
.breadcrumb>li {
    display: inline-block;
    color: #232323;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.breadcrumb>.active{
    color: #232323;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.breadcrumb>li+li:before {
    content: "";
}
.breadcrumb>li i{
    padding: 0 7px;
}
.breadcrumb>li a:hover{
     color: #ff491c;
}


/*section.about*/
section.about{
    padding: 100px 0px;
}
.about_right{
    padding: 40px 0 0px;
}
.about_right h4{
    color: #232323;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.about_right p{
    color: #6c6c6c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 35px;
}
.about_right span{
    color: #6c6c6c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: block;
    line-height: 28px;
}
.video {
    background: url(../images/video.jpg) no-repeat;
    background-size: cover;
    padding: 95px 0px;
    margin-top: 50px;
}
.video a img {
    display: block;
    margin: 0 auto;
}
/*End section.about*/

/*section.Team*/
section.Team{
    padding: 100px 0px;
    background: url(../images/team-bg.jpg) no-repeat;
    background-size: cover;
}
.team_desc{
    text-align: center;
    padding: 30px 0px;
}
.team_desc h6{
    color: #232323;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-bottom: 10px;
}
.team_desc span{
    color: #6d6d6d;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*End section.Team*/

/*section.client*/
section.client{
    padding: 60px 0px;
}
.item img{
    padding: 30px;
}
/*End section.client*/

/*End About Us page Css*/

/*Project page css*/
section.gallery{
    padding: 100px 0px;
}
/*
Menu Style
*/
.menu-box .thumb {
  float: left;
  margin-right: 20px;
}
.menu-box .menu-content {
  overflow: hidden;
}

/**isoptope**/
.menu-filter-list {
  padding-bottom: 30px;
}
.menu-filter-list li {
  display: inline-block;
  cursor: pointer;
  padding: 10px 20px 6px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.menu-filter-list li.is-checked, .menu-filter-list li:hover {
  color: #232323;
}
.margin-b-30 {
    margin-bottom: 30px;
}
.menu-grid {
  display: block;
  position: relative;
  overflow: hidden;
}
.menu-grid img {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  width: 100%;
  transition: all 0.3s;
}



/*Project page css*/









/*service page css start Here*/

section.service{
  padding: 100px 0px;  
}
.service_block{
    padding: 0px;
}
.service_block img{
    padding-bottom: 30px;
}
.service_block h5{
    color: #232323;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}
.service_block p{
    color: #6c6c6c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 40px;
}
.service_block a{
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 14px 20px;
    background: #ff491c;
    text-decoration: none;
    transition: all 0.85s;
}
.service_block a:hover{
    background: #04779e;
}
.pt{
    padding-top: 80px;
}
/*End service page css start Here*/


/*Contact Us page css*/
section.contact{
    padding: 100px 0px;
}
section.contact h6{
    color: #232323;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding-left: 12px;
}
.contac_form {
    padding: 30px 0;
}
.contac_form label{
    color: #6c6c6c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.contac_form .form-control{
    box-shadow: none;
    outline: none;
    background: none;
    border-radius: 0px;
    height: 50px;
    color: #6c6c6c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border: solid 1px #c2c2c2;
}
.contac_form textarea.form-control{
    height: 135px;
    resize: none;
}
.contac_form .form-group {
    margin-bottom: 19px;
}
button.btn-sub{
    box-shadow: none;
    outline: none;
    background: #ff491c;
    color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    padding: 14px 20px;
    text-decoration: none;
    border: none;
    transition: all 0.85s;
    border-radius: 0px;
    margin-left: 15px;
}
button.btn-sub:hover{
     background: #04779e;
}
#cmsmasters {
    padding-top: 0px;
    padding-bottom: 0px;
    border: solid 1px #c2c2c2;
    margin-top: 20px;
}
.cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_column > div {
    width: 100%;
}
#cmsmasters .featured_block_inner {
    padding:0px;
}
#cmsmasters .featured_block_text {
    text-align: left;
}
.cmsmasters_homepage_fb_opening .cmsmasters_homepage_fb_opening_item, .cmsmasters_widget_departments li, .cmsmasters_homepage_sidebar_lists li {
    display: block;
    overflow: hidden;
    border-bottom: solid 1px #c2c2c2;
    padding: 13px 15px;
}
.cmsmasters_homepage_fb_opening .cmsmasters_homepage_fb_opening_item .align-right {
    float: right;
    width: 70%;
    text-align: right;
}
.featured_block_text span{
    color: #232323;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 500;
}
.featured_block_text small{
    color: #6c6c6c;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: 400;
}
.featured_block_text small a{
    color: #04779e;
    text-decoration: none;
}
.featured_block_text ul{
    padding: 0px;
    clear: both;
}
.featured_block_text ul li {
    list-style: none;
    float: right;
    margin-top: -36px;
    padding-right: 17px;
}
.featured_block_text ul li a {
    color: #6c6c6c;
    padding-left: 12px;
}
.featured_block_text ul li a:hover{
    color: #ff491c;
}
.none{
    border: none !important;
}
/*End Contact Us page css*/






/*Media Query*/

@media (max-width:1199px){
    
    .list-inline>li{
        padding-right: 0px;
    }
    .info_head {
    padding-top: 20px;
}
section.construction .wel-left span{
    font-size: 14px;
}
.letest_block h4{
    font-size: 16px;
}
.footer-desc ul li a{
    margin-right: 23px;
}
.about_right span{
    font-size: 14px;
}
.cmsmasters_homepage_fb_opening .cmsmasters_homepage_fb_opening_item, .cmsmasters_widget_departments li, .cmsmasters_homepage_sidebar_lists li{
    padding: 13px 6px;
}
.breadcrumb>li i {
    padding: 0 4px;
}
}

@media (max-width:991px){
    .nav>li>a {
    padding: 10px 17px;
}
section.countdown h4{
    font-size: 38px;
}
.fact-box img {
    float: none;
    display: block;
    margin: 0 auto;
    padding-bottom: 20px;
}
.info_head {
    padding-top: 0;
    padding-bottom: 100px;
}
.wel-left img{
    display: block;
    margin: 0 auto;
    width: 100%;
}
button.Contact{
    padding: 14px 20px;
}
.columns li.grey{
    font-size: 44px;
}
.breadcrumb>li i{
    padding: 0px;
}
.breadcrumb{
    padding: 10px 0px;
}
.cmsmasters_homepage_fb_opening .cmsmasters_homepage_fb_opening_item, .cmsmasters_widget_departments li, .cmsmasters_homepage_sidebar_lists li {
    padding: 13px 15px;
}
.featured_block_text small{
    font-size: 14px;
}
#cmsmasters{
    margin-top: 35px;
}
}
@media (max-width:767px){
    .top-bar{
        text-align: center;
    }
    .right {
    float: none;
}
.navbar-brand>img {
    display: block;
    margin-top: -9px;
}
section.countdown h4 {
    text-align: center;
}
.fact-box {
    margin-top: 25px;
}
.feature-block {
    margin-top: 30px;
}
section.features {
    padding: 60px 0px;
}
.letest_block img{
   width: 100%;
}
.letest_block {
    margin-bottom: 40px;
}
section.letest_blog {
    padding: 60px 0px;
}
button.Contact {
    margin: 0 auto;
    display: block;
}
.columns{
   margin-bottom: 50px;
}
section.price-table {
    padding: 60px 0px;
}
.project {
    display: inline-block;
}
.footer-bottom{
    text-align: center;
}
.footer-bottom ul {
    float: none;
    padding: 10px 0 0px;
}
.text-right {
    text-align: center;
}
.footer-bottom ul li {
    float: none;
    display: inline-block;
}
.info_list i {
    width: 50px;
    height: 50px;
    font-size: 16px;
    line-height: 44px;
}
section.Team img{
    width: 100%;
}
.top-bar span{
    padding-right: 25px;
}
.service_block img {
    width: 100%;
}
.service_block{
    margin-bottom: 40px;
}
.pt {
    padding-top: 0px;
}
section.service{
    padding: 60px 0px 30px;
}
.margin40 {
    margin-top: 0px;
}
}
@media (max-width:480px){
    .info_list bold {
    font-size: 16px;
}
section.construction .wel-left h3 {
    font-size: 32px;
}
.footer-bottom span {
    font-size: 13px;
}
}