/*------------------google font----------------*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
/*------------------google font----------------*/

body{ 
    background: #fff;
    line-height: 24px;   
    color: #333;
    font-size: 13px;  
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}
/*---------------------Default Css--------------------*/ 
h1{ color:#333; 
    font-size:2.5em;
    margin:0px;
    padding:20px 0;}

h2{ color:#333; 
    font-size:2.225em;
    margin:0px; 
    padding:0px;
} 

h3{ color:#333; 
    font-size:2em;
    margin:0px;
    padding:0px;}

h4{ color:#333; 
    font-size:1.5em;
    margin:0px;
    padding:0px;}

h5{ color:#333; 
    font-size:1.225em;
    margin:0px;
    padding:0px;}

h6{ color:#333; 
    font-size:1em;
    margin:0px;
    padding:0px;}

p{ 
    margin:0px;
    color: #8c8c8c;
}

a{
    text-decoration:none;
}
a:hover{ 
    text-decoration:none;
}

a:focus{ 
    outline:none;
}
.no-padding{
  padding: 0px !important;  
}
/*---------------------Default Css--------------------*/ 


/*---------------------Nav Css--------------------*/ 
header.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    right: 0;
}
.navbar-default {
  background-color: transparent;
  border: 0px;
  margin: 10px 0px;
  position: relative;
 }

.navbar-default .navbar-nav > li > a {
    color: #000;
    position: relative;
    color: #fff;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background: none;
    color: #ff7101;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
        background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ff7101;
    background-color: transparent;
}
.navbar-nav>li {
    margin-top: 22px;
}
.nav>li>a{
    padding: 10px 35px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}
.pull-right{
   float: right !important; 
}
.pull-right a{
    background: #4183d7;
    color: #fff !important;
    border-radius: 5px;
} 
/*dropdown menu */
.dropdown-menu {
    min-width: 180px;
    border: 0px;
    padding: 0px;
    border-radius: 0px;
}
.dropdown-menu > li > a {
    padding: 9px 20px;
    color: #fff;
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 12px;
}

.top-search .dropdown-menu{
    background: none;
}
.top-search {
  width: 250px;
  padding: 10px 15px; }

.navbar-default .navbar-nav > li > a i{
    color: #848484;
}
.navbar-default .navbar-nav > li > a i:hover{
    color: #009f3c;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
    color: #333;
    background: #fff;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
    background: transparent;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    border-color: #fff;
    background: #ff7101;
    border-color: #ff7101;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
    color: #fff;
}
/*--------------------- End Nav Css--------------------*/ 
/*----------------------master slider-------------*/
.text6 {
    color: #fff;
    font-weight: 600;
    font-size: 90px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.text6 bold{
    color: #ff7101;
    font-weight: 600;
    font-size: 90px;
    font-family: 'Lato', sans-serif;
}
.text7 {
    color: #a8a8a8;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    font-weight: 500;
}
.text7 span{
    color: #fff;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
}
.full-wid {
    width: 58%;
}
.btn-blue {
    padding: 10px 20px;
    color: #fff;
    border-radius: 0px;
    border: solid 2px #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.btn-yellow {
    background-color: #ff7101;
    color: #fff;
    border-radius: 0px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.btn-blue:hover {
    color: #fff;
}
.btn-yellow:hover {
    color: #fff;
}
/*---------------------- End master slider-------------*/

/*title*/
.title{
    text-align: center;
    margin-bottom: 60px;
}
.title h3 {
    font-size: 34px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #1d1d1d;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.title p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #6d6d6d;
    line-height: 26px;
}
.title-border {
    border-bottom: solid 4px #ff7101;
    width: 116px;
    margin: 25px auto;
    margin-bottom: 0px;
}
/*End title*/

/*section.gym*/
section.gym{
    padding: 100px 0px;
}
.gym-block{
    text-align: center;
}
.gym-block h2{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #1d1d1d;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.gym-block p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #6d6d6d;
    padding-bottom: 25px;
    font-weight: 400;
}
.gym-block a {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #ff7101;
    font-weight: 600;
}
/*End section.gym*/

/*section.program*/
section.program{
    padding: 100px 0px;
    background: url(../images/pro-bg.jpg) center no-repeat;
    background-size: cover;
}
section.program .title-border{
    margin-left: 0px;
}
section.program .title{
    text-align: left;
}
section.program .title h3{
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.left-panel {
    text-align: left;
}
.left-panel h4{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: #fff;
    padding-bottom: 15px;
    font-weight: 400;
}
.left-panel p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #6d6d6d;
    font-weight: 400;
}
.mt{
    margin-top: 40px !important;
}
.flexslider{
    margin-bottom: 0px;
    border: none;
}
.flex-direction-nav .flex-next{
    right: 9px;
}
.flex-direction-nav .flex-prev {
    left: 0;
    background: #000;
}
.flex-direction-nav .flex-prev {
    left: 0px;
}
.flex-direction-nav a:before {
    font-size: 18px;
    color: #fff;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
}
.flex-control-nav {
    bottom: 10px;
}
.flex-direction-nav .flex-next {
    background: #000;
}
.flex-control-paging li a.flex-active{
    background: #000;
}
.flex-control-paging li a{
    background: none;
    border: solid 1px #fff;
}
/*End section.program*/

/*section.program.men-*/
section.program.men{
   background: url(../images/pro-bg1.jpg) center no-repeat;
   background-size: cover;
}
section.program.men .title-border {
    border-color:  #fff;
}
section.program.men .title h3 {
    color: #000;
    text-transform: uppercase;
}
section.program.men .title p {
    color: #573513;
}
section.program.men .left-panel h4{
    color: #1d1d1d;
}
section.program.men .left-panel p{
    color: #573513;
}
/*End section.program.men-*/

/*section.table*/
section.table{
    padding: 100px 0px;
}
.columns{
    text-align: center;
    transition: all 0.85s; 
    background: #f6f5f5;
    padding: 20px;
}
.columns ul{
    padding: 0px;
}
.columns ul li{
   list-style: none;
}
.columns li.header {
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: #1d1d1d;
    font-weight: 600;
    padding: 30px 0;
}
.columns li.header span{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    color: #ff7101;
}

.columns li.grey {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    color: #1d1d1d;
    font-weight: 600;
    padding: 20px 0px;
}
.columns li {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    color: #6d6d6c;
    font-weight: 400;
    padding: 8px 0px;
}
.columns li i{
    color: #ff7101;
}
.columns a {
    color: #fff;
    background: #ff7101;
    padding: 12px 20px;
    border-radius: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    line-height: 60px;
}
.columns:hover {
    box-shadow: 0px 2px 35px -8px rgba(0,0,0,0.75);
}
/*section.newslatter*/
section.newslatter{
    padding: 100px 0px;
    background: url(../images/nl-bg.jpg) center no-repeat;
    background-size: cover;
}
section.newslatter .title-border{
    margin-left: 0px;
}
section.newslatter .title {
    text-align: left;
}
section.newslatter .title h3{
    color: #fff;
    text-transform: none;
    font-weight: 600;
    left: 0;
}

section.newslatter .form-control{
    height: 50px;
    border: solid 2px #fff;
    border-radius: 30px;
    outline: none;
    background: none;
    color: #c6c6c6;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 10px 25px;
    box-shadow: none;
}
button.subs{
    border-radius: 30px;
    outline: none;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    box-shadow: none; 
    border: none;
    background: #ff7101;
    text-transform: uppercase;
    padding: 12px 30px;
    font-weight: 600;
    letter-spacing: 2px;
}
/*section.testimonial*/
section.testimonial{
    padding: 100px 0px;
}
.testi-slider {
    text-align: center;
    position: relative;
    border: 2px solid rgba(255, 255, 255, 0.5);
}
.testi-slider .thumb img {
    display: block;
    margin: 0 auto;
    padding: 15px;
}
.testi-slider .testi-text {
    color: #6d6d6d;
    font-weight: 500;
    font-size: 16px;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
}
.testi-slider h5 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ff7101;
    font-weight: 800;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
.testi-slider small {
    color: #6d6d6d;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
section.testimonial .flex-control-nav {
    bottom: -40px;
}
section.testimonial .flex-control-paging li a{
    width:16px;
    height: 16px;
}
section.testimonial .flex-control-paging li a.flex-active {
    background: #ff7101;
}
/*End section.testimonial*/

/*section.process*/
section.process {
    background: url(../images/process-bg.jpg) no-repeat;
    background-size: cover;
    padding: 150px 0px;
    background-position: center center;
}
.process-right{
    padding: 0px;
}
.process-right h4{
    color: #fff;
    font-weight: 800;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
.process-right span{
    color: #ff7101;
    font-weight: 800;
    font-size: 100px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    display: inline-block;
}
/*End section.process*/

/*section.our-blog*/
section.our-blog{
    padding: 100px 0px;
}
.blog-block{
    text-align: left;
}
.blog-block img{
    padding-bottom: 30px;
}
.blog-block h2{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #1d1d1d;
    padding-bottom: 20px;
}
.blog-block p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #6d6d6d;
    padding-bottom: 30px;
}
.blog-block a{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: #ff7101;
}
/*End section.our-blog*/

/*footer.footer*/
footer.footer{
    padding: 100px 0 0px;
    background: url(../images/footer-bg.jpg) no-repeat;
    background-size: cover;
}
.social-media{
    text-align: center;
}
.social-media img{
    margin-top: 20px;
}
.social-media a{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #fff;
}
.social-media a i {
    font-size: 18px;
    color: #fff;
    padding-right: 8px;
}
.main-footer{
    margin-top: 100px;
}
.main-footer h3{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #ff7101;
    padding-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.main-footer p {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #6d6d6d;
    line-height: 27px;
    padding-bottom: 20px;
}
.main-footer ul{
    padding: 0px;
}
.main-footer ul li {
    list-style: none;
    border: solid 2px #6d6d6d;
    float: left;
    width: 42px;
    height: 38px;
    margin-right: 15px;
    text-align: center;
    line-height: 34px;
}
.main-footer ul li a{
    color: #6d6d6d;
    font-size: 18px;
}
.main-footer span {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #c6c6c6;
    display: block;
    line-height: 30px;
    padding-bottom: 20px;
}
.pb{
    padding-bottom: 0px !important;
}
.footer-bottom{
    margin-top: 90px;
    background: #121011;
    padding: 15px 0 5px;
    opacity: .8;
}
.footer-bottom span{
     font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #6d6d6d;
}
.footer-bottom ul{
    padding: 0px;
    float: right;
}
.footer-bottom ul li{
    list-style: none;
    float: left;
    padding-left: 7px;
    padding-right: 6px;
}
.footer-bottom ul li a{
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #6d6d6d;
}
.footer-bottom ul li a:hover{
    color: #ff7101;
}
/*End footer.footer*/


/*about us page css Start Here*/

/*section.about-sec*/
section.about-sec{
    padding: 150px 0px;
    background: url(../images/about-bg.jpg) no-repeat;
    background-size: cover; 
}
section.about-sec h3{
    font-size: 70px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ff7101; 
}
section.about-sec p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    padding-top: 20px;
    color: #a8a8a8; 
} 
section.about-sec bold{
    color: #fff; 
}
/*End section.about-sec*/

/*section.about*/
section.about{
    padding: 0px;
}
.about-left{
    padding: 100px 0 0px;
}
.about-left .title{
    margin: 0px;
}
section.about .title{
    text-align: left;
}
section.about .title-border{
    margin-left: 0px;
}
section.about .title p {
    padding-top: 40px;
}
.about-left ul{
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
}
.about-left ul li{
    list-style: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #6d6d6d;
    padding-bottom: 12px;
} 
.about-left ul li i{
    color: #ff7101;
    padding-right: 8px;
} 
/*section.about*/


/*section.classes*/
section.classes{
    padding: 100px 0px;
    background: url(../images/classes-bg.jpg) no-repeat;
    background-size: cover;
}
section.classes .title h3{
    color: #fff;
}
.class-block{
    background: #000;
    opacity: .8;
    padding: 30px;
    text-align: center;
}
.class-block h5{
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.class-block p{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #6d6d6d;
    padding-top: 20px;
    padding-bottom: 20px;
}
.class-block a{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #ff7101;
}
/*End section.classes*/

/*section.choose-us*/
section.choose-us{
    padding: 100px 0px;
}
section.choose-us .title{
    margin-bottom: 0px;
}
section.choose-us .title-border{
    margin-left: 0px;
}
section.choose-us .about-left{
    padding: 0px;
}
section.choose-us .title{
    text-align: left;
}
section.choose-us .title p{
    padding-top: 35px;
}
section.choose-us ul{
  padding: 0px;
  margin-top: 125px;
  margin-bottom: 0px;
}
section.choose-us ul li{
    list-style: none;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #6d6d6d;
    padding-bottom: 12px;
} 
section.choose-us ul li i{
    color: #ff7101;
    padding-right: 8px;
} 
/*End section.choose-us*/


/*section.expert*/
section.expert{
    padding: 100px 0px;
}
.team-box {
    padding: 0px;
}
.team-box img{
  width: 100%;
}
.team-overlay {
    position: absolute;
    left: 14px;
    top: 0px;
    width: 93%;
    height: 452px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 0px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.team-col:hover .team-overlay {
    opacity: 1;
    visibility: visible;
}
.team-text {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px;
    top: 42%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.team-text ul li{
    border: solid 2px #fff;
    border-radius: 50px;
    margin-right: 10px;
}
.team-text ul li a {
    width: 36px;
    height: 44px;
    line-height: 43px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    display: block;
}
.team-desc h3 {
    color: #1d1d1d;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 7px;
}
.team-desc p {
    color: #6d6d6d;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin-bottom: 0px;
}
.team-desc {
    padding: 30px;
    text-align: center;
}
/*End section.expert*/


/*video*/
.video {
    background: url(../images/video-bg.jpg) no-repeat top center;
    background-size: cover;
    padding: 192px 0;
}
/*End video*/


/*contact us css start here*/
/*section.timing*/
section.timing{
    padding: 100px  0px;
}
section.timing .title{
    text-align: left;
    margin: 0px;
}
section.timing .title-border{
    margin-left: 0px;
}
section.timing .title p {
    padding-top: 25px;
    padding-bottom: 30px;
}
section.timing bold{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    color: #1d1d1d;
    display: block;
    margin-bottom: 20px;
}
section.timing small{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #6d6d6d;
}

.featured_block_inner{
    background-color: #ff7101;
    padding: 20px;
}
.featured_block_text {
    text-align: left;
}
.featured_block_inner {
    width: 100%;
    padding: 22px 24px 32px 30px;
    text-align: left;
    margin: 0 auto;
}
.featured_block_text p {
    color: #fff;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 17px;
}
span.cmsmasters_homepage_fb_opening_item{
    color: #fff;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    display: block;
    text-align: left;
    padding: 5px;
}
span.align-right {
    margin-left: 5px;
    float: right;
}
.featured_block_text bold{
    text-align: center;
    color: #fff !important;
    font-size: 22px !important;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
}
/*End section.timing*/

/*section.contact-form*/
section.contact-form{
    padding: 100px 0px;
    background: url(../images/contact-bg.jpg) no-repeat top center;
    background-size: cover;
}
section.contact-form .title h3{
    color: #fff;
}
.form-block{
    padding: 0px;
}
.form-block .form-group{
    margin-bottom: 30px;
}
.form-block .form-control{
     box-shadow: none;
     color: #6d6d6d;
     font-size: 14px;
     font-family: 'Lato', sans-serif;
     border: solid 2px #1d1a19;
     background: #100c0b;
     height: 50px;
     opacity: .6;
     border-radius: 0px;
}
.form-block textarea.form-control{
    height: 140px;
    resize: none;
}
button.submit {
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    border-radius: 0px;
    background: #ff7101;
    border: none;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 10px;
    margin-left: 16px;
    width: 97.5%;
}

.pagination {
    display: block;
    padding-left: 0;
    margin-top: 40px;
}
.pagination>li>a, .pagination>li>span{
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 10px 18px;
    font-weight: 500;
    color: #1d1d1d;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    border-radius: 0px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 0px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: #fff;
    background: #ff7101;
}
.pagination>li>a, .pagination>li>span{
    border-color: #ccc;
}
/*End section.contact-form*/


/*End contact us css start here*/











/*media query*/
@media (max-width:1199px) {
button.subs{
    padding: 12px 26px;
}
.team-overlay{
    width: 91%;
    height: 369px;
    top: 0;
} 
.team-text ul li{
    margin-right: 6px;
}
section.about-sec h3{
    font-size: 65px;
}
.featured_block_inner{
    padding: 25px 5px 17px 0px;
}
button.submit{
    width: 97%;
}
.text6 bold{
    font-size: 66px;
}
}
@media (max-width:991px) {
    .nav>li>a {
    padding: 10px 21px;
}
.text6 bold {
    font-size: 45px;
}
.navbar-brand{
    padding: 15px 0px;
}
.columns li.grey{
    font-size: 40px;
}
button.subs {
    margin-left: 20px;
}

section.about img{
    width: 100%;
}
.class-block p{
    font-size: 13px;
}
.team-overlay {
    width: 89%;
    height: 277px;
}
.team-text ul li {
    margin-right: 2px;
}
.team-text {
    padding: 5px;
    left: 4px;
}
.team-desc h3{
    font-size: 15px;
}
button.submit {
    width: 96%;
}
}
@media (max-width:767px) {
   .navbar-brand{
    padding: 15px 15px;
} 
.text6 bold {
    font-size: 45px;
}
.flex-direction-nav .flex-prev {
    top: 50%;
}
.class-block{
    margin-bottom: 30px;
}
.flex-direction-nav .flex-next {
    background: #000;
    top: 50%;
}
.blog-block img{
    width: 100%;
}
footer.footer img {
    width: 119px;
    float: left;
    margin: 0px;
}
.footer-bottom{
    text-align: center;
}
.footer-bottom ul {
    float: none;
    display: inline-block;
    padding-top: 15px;
}
.process-right h4{
    font-size: 80px;
}
.process-right span{
    font-size: 80px;
}
.team-overlay {
    top: 0;
    width: 96%;
    height: 89%;
}
.navbar-brand>img {
    display: block;
    width: 200px;
    margin-top: -12px;
}
.gym-block{
    margin-bottom: 35px;
}
section.gym{
    padding-bottom: 75px;
}
.flex-control-nav {
    bottom: 0px;
}
.columns{
    margin-bottom: 30px;
}
section.table{
    padding-bottom: 70px;
}
}
@media (max-width:480px) {
    .process-right h4{
    font-size: 40px;
}
.process-right span{
    font-size: 40px;
}
.navbar-brand img{
    width: 150px;
}
.title p{
    font-size: 14px;
}
.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next{
    top: 50%;
}
.title h3{
    font-size: 22px;
}
.main-footer ul li{
    margin-right: 8px;
}
.team-overlay {
    top: 0;
    width: 90%;
    height: 75%;
}
section.about-sec h3{
    font-size: 35px;
}
section.choose-us ul li{
    font-size: 13px;
}
section.contact-form .title h3 {
   font-size: 20px;
}
button.submit {
    width: 85%;
}
span.cmsmasters_homepage_fb_opening_item{
    font-size: 13px;
}
.ms-anim-layers{
    display: none;
}
}