/*------------------google font----------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900');
/*------------------google font----------------*/

body{ 
    background: #fff; 
    line-height: 24px;   
    color: #595959;
    font-size: 13px;  
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
/*---------------------Default Css--------------------*/ 
h1{ color:#333; 
    font-size:2.5em;
    margin:0px;
    padding:20px 0;}

h2{ color:#333; 
    font-size:2.225em;
    margin:0px; 
    padding:0px;
} 

h3{ color:#333; 
    font-size:2em;
    margin:0px;
    padding:0px;}

h4{ color:#333; 
    font-size:1.5em;
    margin:0px;
    padding:0px;}

h5{ color:#333; 
    font-size:1.225em;
    margin:0px;
    padding:0px;}

h6{ color:#333; 
    font-size:1em;
    margin:0px;
    padding:0px;}

p{ 
    margin:0px;
    color: #8c8c8c;
}

a{
    text-decoration:none;
    color: inherit;
}
a:hover{ 
    text-decoration:none;
}

a:focus{ 
    outline:none;
}
.no-padding{
  padding: 0px !important;  
}
/*---------------------Default Css--------------------*/ 


/*---------------------Nav Css--------------------*/ 
header.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    background: transparent;
    right: 0;
}
nav.navbar.navbar-fixed-top.fixed {
    background: rgba(0,0,0,0.5);
}
.navbar-default{
    background:transparent;
    border:none !important;
}
.navbar-nav>li>a:hover{
    color:#1a1a1a;
} 
.collapse.in{
    
    background-color:#f0f0f0 !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
   background-color:#888;   
}

.spacer{
    height:100px;
}
.navbar-fixed-top {
    /*background: rgba(0, 0, 0, 0.2)!important;*/
}
.nav>li>a {
    padding: 10px 25px;
    position: relative;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}
.nav>li{
    margin-top: 26px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: none;
}
.navbar-toggle{
    border-color: #ddd;
    background: transparent;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
/*----------------------master slider-------------*/
.text6 {
    color: #fff;
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    letter-spacing: 3px;
}
.text7{
    color: #fff;
    font-size: 30px;
    line-height: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}
.full-wid {
    width: 70%;
}
.btn-blue {
    color: #2e2e2e;
    font-size: 14px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: #fff;
    border-radius: 2px;
    padding: 22px 30px; 
}
.btn-blue:hover {
    color: #fff;
    border: solid 2px #fff;
    background: none;
}
.btn-yellow {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 800;
    border: solid 2px #fff;
    padding: 20px 30px; 
}
.btn-yellow:hover {
    color: #333;
    background: #fff;
    border: solid 2px #fff;
}
/*---------------------- End master slider-------------*/


/*index page css*/

/*page Title*/
.title{
    text-align: center;
    margin-bottom: 60px;
}
.title h3{
    color: #2e2e2e;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.border{
    border: solid 1px #04779e;
    width: 100px;
    margin: 0 auto;
 }
 .title p{
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    padding-top: 30px;
    line-height: 30px;
}
/*End page Title*/

/*section.features*/
section.features{
    padding: 100px 0px;
}
.features_block{
    text-align: center;
}
.features_block img{
    display: block;
    margin: 0 auto;
}
.features_block h2 {
    color: #2e2e2e;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 30px;
    text-transform: uppercase;
    font-weight: 800;
}
.features_block p{
    color: #595959;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 30px;
    font-weight: 300;
}
/*End section.features*/

/*section.Expert*/
section.Expert{
    padding: 100px 0px;
    background: url(../images/expert-bg.jpg) center no-repeat;
    background-size: cover;
}
.video{
    background: url(../images/video-bg.jpg) center no-repeat; 
    padding: 133px 0px;
}
.video img{
    display: block;
    margin: 0 auto;
}
.video_text {
    padding: 18px;
}
.video_text span{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
}
.video_text h4{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 30px;
}
.video_text p{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    padding-top: 30px;
}
.shape{
    border: solid 1px #fff;
    width: 100px;
    }
    
/*End section.Expert*/    
    
/*section.about*/

section.about{
    padding: 100px 0px;
}
section.about .title{
    text-align: left;
}
section.about .title p{
    font-weight: 400;
    padding-bottom: 20px;
}
section.about .border{
   margin: 0;
}
section.about span{
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
}
/*End section.about*/

/*section.skill*/
section.skill{
    padding: 0px;
    background-color: #f2f2f0; 
}
.right_skill{
    padding: 100px 0 230px;
}
section.skill .title {
    text-align: left;
}
section.skill .border{
    margin: 0px;
}
h2.heading-xs {
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-bottom: 15px;
    font-weight: 500;
}
.progress {
    overflow: inherit;
    border-radius: 0px;
    background: none;
    box-shadow: none;
}
.progress-xs {
    height: 6px;
    background: #2e2e2e;
}
.progress-bar{
    background-color: #959595;
}
span.pull-right{
   color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: 300; 
}
/*End section.skill*/


/*section.service*/

section.service{
    padding: 100px 0px;
}
.service_block {
    margin-bottom: 40px;
}
section.service img{
    display: block;
    margin: 0 auto;
}
.dotted {
    width: 70px;
    height: 70px;
    border: dashed 1px #2e2e2e;
    border-radius: 5px;
    float: right;
    padding: 24px;
    margin-left: 25px;
}
.dotted i{
    font-size: 25px;
    color: #2e2e2e;
}
.service_desc {
    width: 75%;
}

.service_desc h6{
    color: #2e2e2e;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
    margin-bottom: 15px;
    font-weight: 500;
}
.service_desc p{
    color: #595959;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    margin-bottom: 15px;
    font-weight: 400;
}
.left{
    float:left;
    margin-left: 0px;
}
.right{
    float: right;
}
/*End section.service*/

/*section.subscribe*/
section.subscribe{
    padding: 100px 0px;
    background: url(../images/subscribe-bg.jpg) center no-repeat;
    background-size: cover;
}
section.subscribe .title h3{
    color: #fff;
}
section.subscribe .border{
    border-color: #fff;
}
.signup .form-control{
    background: none;
    box-shadow: none;
    outline: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: 400;
    border-color: #fff;
    border-radius: 0px;
    height: 66px;
    text-align: center;
}
.signup .form-control.btn{
    background: #fff;
    color: #2e2e2e;
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: 600;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    transition: all 0.85s;
    border: none;
}
.signup .form-control.btn:hover{
    background: #04779e;
    color: #fff;
    
}
::-webkit-input-placeholder {
   color: red;
}
/*End section.subscribe*/

/*section.testimonial*/

section.testimonial{
    padding: 100px 0px;
}
.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}
section#carousel  .carousel-indicators {
    bottom: -30px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
    margin-bottom: 0px;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}
.item p{
    color: #7a7878;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}
.item h5{
    color: #2e2e2e;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    padding-top: 20px;
}
.item small{
    color: #2e2e2e;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 5px;
}
/*End section.testimonial*/

/*footer*/
footer.footer {
    background: #111111;
    padding: 100px 0px;
}
.footer-desc {
    padding: 0px;
    text-align: center;
}
.footer-desc ul {
    padding: 0px;
}
.footer-desc ul li {
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    float: none;
}
.footer-desc ul li a {
    color: #fff;
    margin-right: 25px;
    transition: all 0.85s;
    font-size: 15px;
}
.footer-desc ul li a:hover{
    color: #04779e;
}
.footer-desc span{
    color: #7e8184;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.credit img {
    display: block;
    margin: 0 auto;
    padding-top: 18px;
}
/*End footer*/

/*End index page css*/



/*blog page css*/
.about-banner {
    padding: 100px 0px;
    background: url(../images/expert-bg.jpg) center no-repeat;
    background-size: cover;
}
.about-banner h3 {
    color: #fff;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-bottom: 20px;
}
.about-banner p {
    color: #fff;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
section.blog {
    padding: 100px 0px;
}
.post-content img {
    padding-bottom: 18px;
}
/*Media Query*/

@media (max-width:1199px){
    .service_desc h6{
        font-size: 17px;
    }
    .footer-desc span{
        font-size: 12px;
    }
}
@media (max-width:991px){
.video_text h4{
    font-size: 30px;
}
.service_desc {
    width: 85%;
}
.footer-desc ul li a{
    margin-right: 15px;
}
.nav>li>a{
    padding: 10px 15px;
}
.video_text p{
    padding-top: 25px;
}
.video_text h4{
    margin-bottom: 15px;
}
section.about img{
    width: 100%;
}
}
@media (max-width:767px){
  .navbar-brand>img {
    display: block;
    margin-top: -12px;
	  max-width: 50px;
}  
footer.footer img{
    display: block;
    margin: 0 auto;
    padding: 25px 0;
}
footer.footer {
    padding: 35px 0px;
}
.nav>li{
    margin: 0px;
}
.title h3{
    font-size: 35px;
}
section.about img{
    width: 100%;
}
section.service img {
    padding-bottom: 40px;
}
}
@media (max-width:480px){
    .title h3 {
    font-size: 28px;
}
.video_text {
    padding: 0;
}
.ms-anim-layers{
    display: none;  
}
.dotted {
    width: 50px;
    height: 50px;
    float: right;
    padding: 12px;
    margin-left: 10px;
}
.service_desc h6 {
    font-size: 14px;
}
.service_desc p {
    font-size: 14px;
}
.title {
    margin-bottom: 10px;
}
}