@media (max-width: 1199px){
.hotel-description
{
	padding:10px;
	padding-bottom:5px;
}
.hotel-description .margint30
{
	margin:2px 0px;}
	
button.btn.yellow-btn 
{
  
    margin-right: 0px;
}
.hotel button.btn.brown-btn, .hotel button.btn.yellow-btn {
    padding: 10px 10px 10px 10px;
}
.package-description
{
	margin-bottom:30px;
}

.prize-right
{
	padding-left:15px;
}
.prize h1 {
    padding: 0px;
    font-weight: bold;
    font-size: 50px;
    color: #333333;
    text-transform: uppercase;
    margin: 0 auto;
    line-height: 60px;
}
h1.map-title1 , h1.map-title2 , h1.map-title3
{
	font-size:54px;
}
.hotel-description{
    padding: 10px;
}

.hotel-description p {
    font-size: 11px;
    margin: 0;
}
}
@media (max-width: 991px)
{
.package-box
{
	margin-bottom:40px;
}
.hotel-description {
    background: #fff;
    padding: 20px;
    margin: 0 auto;
    padding-bottom: 70px;
}
.banner-bottom
{    position: relative;
    bottom: 0px;
    right: 0;
    left: 0;
}
h1.map-title1 , h1.map-title2 , h1.map-title3
{
	text-align:center;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	background: #0084b4;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    color: #fff;
    padding-top: 23px;
    padding-bottom: 23px;
	margin-left:0px;
}

#header .navbar-default 
{
     padding-top: 0px;
	 margin-bottom:0px;
}
.nav-second-main
{
	display:block;
}
.navbar-header 
{
	float: none;
}
.navbar-toggle 
{
	display: block;
}
.navbar-collapse 
{
	border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}
.navbar-collapse.collapse 
{
	display: none!important;
}
.navbar-toggle .icon-bar {
    background-color: #333;
}
.navbar-nav 
{
	float: none!important;
	margin: 7.5px -15px;
}
.navbar-toggle {
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 26px;
}
.navbar-nav>li 
{
	float: none;
}
.navbar-nav>li>a 
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-collapse.collapse.in 
{
	display: block!important; 
}

img.img-responsive 
{
    width: 100%;
    max-width: 100%;
}
h1.map-title1, h1.map-title2, h1.map-title3 {
    font-size: 40px;
    line-height: 50px;
}
.prize h1{
    font-size: 40px;
}
}

@media (max-width: 768px) {
.package-box
{
	margin-bottom:40px;
}
.hotel-description {
    padding: 10px;
    padding-bottom: 75px;
}
}
@media (max-width: 767px) 
{
.navbar-brand > img 
{
    display: block;
    width: 140px;
    margin-top: -10px;
}

.breadcrumb>.active 
{
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    padding-top: 200px;
    padding-bottom: 100px;
    margin: 0 auto;
}

.navbar-toggle{
    border: 1px solid #fff;
    background-color: #fff;
    margin-top: 26px;
}
 .navbar-toggle .icon-bar {
    background-color: #333;
}
.descover h1 {
    color: #fff;
    font-size: 32px;
}
 .testimonial{
        text-align: center;
        padding-bottom: 5px;
    }
    .testimonial .testimonial-content{
        padding: 0;
    }
    .testimonial .testimonial-profile{
        float:none;
        width: 30%;
        margin: 0 auto;
        padding: 0;
    }
.prize 
{
	text-align:center;
}
.prize img
{
	    margin: 0 auto;
    text-align: center;
    padding: 0px;

    display: block;
}
.banner-bottom {
    position: relative;
    bottom: 0px;
    right: 0;
    left: 0;
}
.footer-bottom{
    text-align: center;
    padding-bottom: 0px;
}
.text-right{
    float: none;
}
.socail-footer.text-right{
    float: none !important;
}
.footer-bottom ul{
    float: none;
}
.footer .col-md-6 {
    margin-bottom: 0px;
}
.footer-bottom{
    padding: 20px;
}
}


@media (max-width: 667px) {

.footer-bottom ul li a i
 {
    font-size: 14px;
}
}
@media (max-width: 568px) {

span.copy {
    font-weight: 600;
    color: #333333;
    font-size: 13px;
}
.footer-bottom {
    padding: 0px 10px 0px 10px;
    background-color: #fec107;
    /* padding-bottom: 1px; */
    border-radius: 50px;
}
.footer-bottom ul li a {
    color: #333333;
    font-size: 16px;
    display: block;
    width: auto;
    height: auto;
    border-radius: 50%;
    line-height: normal;
    text-align: center;
    padding: 0px 10px;
}
.copyright
{
	margin:0 auto;
	text-align:center;
	padding-top:20px;
	padding-bottom:0;
}
.socail-footer
{
	margin:0 auto;
	text-align: center;
	padding-bottom:20px;
}

}
@media (max-width: 480px) 
{
.prize img {
    margin: 0 auto;
    text-align: center;
    padding: 0px;
    display: block;
    width: 50%;
}
.breadcrumb>.active {
    font-size: 35px;
    color: #fff;
    font-weight: bold;
    padding-top: 200px;
    padding-bottom: 100px;
    margin: 0 auto;
}
.ms-anim-layers{
    display: none;
}
.navbar-brand{
    font-size: 50px;
}
}