#tabs .nav-tabs {
    border-bottom: 0px solid #ddd;
    border-radius: 0;
    text-align: left;
    font-weight: bold;
    background: #000;
}
#tabs .nav-tabs li a
{
color:#fff;

}
#tabs .nav-tabs li a:hover {
    border-color: transparent;
	padding:15px 10px;
}
#tabs .nav li a:focus, #tabs .nav li a:hover {
    text-decoration: none;
    background-color: #fec107;
	border:none;
	padding:15px 10px;
}

#tabs .nav-tabs li a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: 0px solid transparent;
    border-radius: 0;
	padding:15px 10px;
}
#tabs .nav-tabs li.active a:hover
{
	color:#000;
	border:0px;
	background:#fec107;
	padding:15px 10px;
}
#tabs .nav-tabs li.active a
{
	color:#000;
	border:0px;
	background:#fec107;
	padding:15px 10px;
}
.tab-pane
{
	padding:20px;
}

.form-group
{
	margin:0 auto;
}
.form-control
{
	margin-bottom:15px;
}
.form-control
{
    padding: 8px 0;
    padding-left: 10px;
	font-size:12px;
}
button.btn.btn-default.btn-number.first
{
	background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    left: -17px;
    z-index: 999;
    top: 7px;
}
button.btn.btn-default.btn-number.second
{
	background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    left: -47px;
    z-index: 999;
    top: 7px;
}
.nav-tabs>li
{
margin-bottom: -2px;
}